.navbar {
  font-family: Futura;
  background: black;
  color: white;
}

.navbar-brand {
  color: rgb(214, 0, 0);
}

.navbar-brand:hover {
  color: rgb(214, 0, 0);
}

.scores {
  text-align: center;
}

.alert {
  text-align: center;
  color: rgb(214, 0, 0);
  font-size: 18px;
}