.footer {
  min-height: 100px;
  font-family: Futura;
  font-variant: small-caps;
  background: rgb(70, 70, 70);
  position: relative;
}

.footer span {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: black;
}
